<a href="https://colab.research.google.com/github/eniompw/RecommendationAI/blob/master/Movie_Step_by_Step.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget http://files.grouplens.org/datasets/movielens/ml-25m.zip
!unzip ./ml-25m.zip

--2023-06-28 12:10:34--  http://files.grouplens.org/datasets/movielens/ml-25m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 261978986 (250M) [application/zip]
Saving to: ‘ml-25m.zip’

ml-25m.zip          100%[===================>] 249.84M  27.0MB/s    in 9.8s

2023-06-28 12:10:44 (25.4 MB/s) - ‘ml-25m.zip’ saved [261978986/261978986]

Archive:  ./ml-25m.zip
   creating: ml-25m/
  inflating: ml-25m/tags.csv
  inflating: ml-25m/links.csv
  inflating: ml-25m/README.txt
  inflating: ml-25m/ratings.csv
  inflating: ml-25m/genome-tags.csv
  inflating: ml-25m/genome-scores.csv
  inflating: ml-25m/movies.csv

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv("./ml-25m/movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [ ]:
ratings = pd.read_csv("./ml-25m/ratings.csv")
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [ ]:
movies_ratings = pd.merge(ratings, movies[['movieId', 'title']], on='movieId')
movies_ratings

          userId  movieId  rating   timestamp                         title
0              1      296     5.0  1147880044           Pulp Fiction (1994)
1              3      296     5.0  1439474476           Pulp Fiction (1994)
2              4      296     4.0  1573938898           Pulp Fiction (1994)
3              5      296     4.0   830786155           Pulp Fiction (1994)
4              7      296     4.0   835444730           Pulp Fiction (1994)
...          ...      ...     ...         ...                           ...
25000090  162358   200192     2.0  1553453039   Den frusna leoparden (1986)
25000091  162358   200194     2.0  1553453843             Tough Luck (2004)
25000092  162386   139970     3.5  1549215965  I Don't Speak English (1995)
25000093  162386   200726     4.0  1554651417          The Graduates (1995)
25000094  162386   200728     4.0  1554651472    Il pesce innamorato (1999)

[25000095 rows x 5 columns]

In [ ]:
popularity = movies_ratings.groupby('title').size().reset_index(name='most_popular')
popularity

                                                   title  most_popular
0      "BLOW THE NIGHT!" Let's Spend the Night Togeth...             1
1                       "Great Performances" Cats (1998)           179
2                             #1 Cheerleader Camp (2010)             9
3                                       #Captured (2017)             2
4                                #Female Pleasure (2018)             3
...                                                  ...           ...
58953             …And the Fifth Horseman Is Fear (1965)             2
58954                                        キサラギ (2007)             2
58955                                     チェブラーシカ (2010)             9
58956                                        貞子3D (2012)            12
58957                                        줄탁동시 (2012)             2

[58958 rows x 2 columns]

In [ ]:
popularity = popularity.sort_values(by=['most_popular'])
popularity

                                                   title  most_popular
0      "BLOW THE NIGHT!" Let's Spend the Night Togeth...             1
34688                                    On Trial (1954)             1
9479                                           Checkmate             1
34685                                      On Top (1982)             1
34684  On Reflection: B.S. Johnson on Dr. Samuel John...             1
...                                                  ...           ...
30477                                 Matrix, The (1999)         72674
42216                   Silence of the Lambs, The (1991)         74127
37867                                Pulp Fiction (1994)         79672
41782                   Shawshank Redemption, The (1994)         81482
17622                                Forrest Gump (1994)         81491

[58958 rows x 2 columns]

In [ ]:
ratings_mean = pd.DataFrame(movies_ratings.groupby('title')['rating'].mean())
ratings_mean

                                                      rating
title
"BLOW THE NIGHT!" Let's Spend the Night Togethe...  3.000000
"Great Performances" Cats (1998)                    2.896648
#1 Cheerleader Camp (2010)                          2.111111
#Captured (2017)                                    3.750000
#Female Pleasure (2018)                             3.666667
...                                                      ...
…And the Fifth Horseman Is Fear (1965)              3.250000
キサラギ (2007)                                         3.250000
チェブラーシカ (2010)                                      3.166667
貞子3D (2012)                                         2.375000
줄탁동시 (2012)                                         4.000000

[58958 rows x 1 columns]

In [ ]:
ratings_mean = ratings_mean.sort_values('rating')
ratings_mean

                                           rating
title
Mr. Rossi Looks for Happiness (1976)          0.5
Burning Down the House (2001)                 0.5
Special Delivery (2008)                       0.5
Kill Squad (1982)                             0.5
Le nozze di Laura (2015)                      0.5
...                                           ...
You Must Be Joking (2014)                     5.0
My Christmas Prince (2017)                    5.0
Look at Me (2012)                             5.0
Tainted Blood (1993)                          5.0
From Here To Eternity: The Musical (2014)     5.0

[58958 rows x 1 columns]

In [ ]:
mean_popular = pd.merge(ratings_mean, popularity[['title', 'most_popular']], on='title')
mean_popular

                                           title  rating  most_popular
0           Mr. Rossi Looks for Happiness (1976)     0.5             1
1                  Burning Down the House (2001)     0.5             1
2                        Special Delivery (2008)     0.5             1
3                              Kill Squad (1982)     0.5             1
4                       Le nozze di Laura (2015)     0.5             1
...                                          ...     ...           ...
58953                  You Must Be Joking (2014)     5.0             1
58954                 My Christmas Prince (2017)     5.0             1
58955                          Look at Me (2012)     5.0             1
58956                       Tainted Blood (1993)     5.0             1
58957  From Here To Eternity: The Musical (2014)     5.0             1

[58958 rows x 3 columns]

In [ ]:
mean_popular = mean_popular[mean_popular['most_popular']>10000]
mean_popular

                                             title    rating  most_popular
7885                         Wild Wild West (1999)  2.319671         11723
12694                           Judge Dredd (1995)  2.555360         14758
12952                             Coneheads (1993)  2.581476         13194
13291                                 Congo (1995)  2.602216         13853
13822        Ace Ventura: When Nature Calls (1995)  2.642168         21552
...                                            ...       ...           ...
57308  Seven Samurai (Shichinin no samurai) (1954)  4.254769         13367
57311               Godfather: Part II, The (1974)  4.261759         34188
57315                   Usual Suspects, The (1995)  4.284353         55366
57330                        Godfather, The (1972)  4.324336         52498
57430             Shawshank Redemption, The (1994)  4.413576         81482

[588 rows x 3 columns]

In [ ]:
user_ratings = pd.merge(movies_ratings,mean_popular[['title','most_popular']], on='title')
user_ratings

,userId,movieId,rating,timestamp,title,most_popular
0,1,296,5.0,1147880044,Pulp Fiction (1994),79672
1,3,296,5.0,1439474476,Pulp Fiction (1994),79672
2,4,296,4.0,1573938898,Pulp Fiction (1994),79672
3,5,296,4.0,830786155,Pulp Fiction (1994),79672
4,7,296,4.0,835444730,Pulp Fiction (1994),79672
...,...,...,...,...,...,...
11878408,162457,4848,3.5,1554865421,Mulholland Drive (2001),12451
11878409,162473,4848,4.0,1060227993,Mulholland Drive (2001),12451
11878410,162508,4848,1.5,1365193832,Mulholland Drive (2001),12451
11878411,162516,4848,3.5,1175647679,Mulholland Drive (2001),12451
11878412,162534,4848,1.5,1526715120,Mulholland Drive (2001),12451

In [ ]:
user_movie_rating = user_ratings.pivot_table(index='userId', columns=['title'], values='rating')
user_movie_rating.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),A.I. Artificial Intelligence (2001),About a Boy (2002),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,5.0,3.0,4.0,3.0,3.0,NaN,3.0,...,4.5,4.0,4.0,4.0,4.0,4.0,NaN,NaN,4.0,3.5
4,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.5,NaN,NaN,NaN,NaN,4.0,NaN,4.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
toy_story_ratings = user_movie_rating['Toy Story (1995)']
movies_like_toy_story = user_movie_rating.corrwith(toy_story_ratings)
movies_like_toy_story

title
(500) Days of Summer (2009)          0.230687
10 Things I Hate About You (1999)    0.200640
12 Angry Men (1957)                  0.224538
2001: A Space Odyssey (1968)         0.118708
28 Days Later (2002)                 0.170825
                                       ...
X2: X-Men United (2003)              0.275662
You've Got Mail (1998)               0.252542
Young Frankenstein (1974)            0.237082
Zombieland (2009)                    0.225818
Zoolander (2001)                     0.193961
Length: 588, dtype: float64

In [ ]:
corr_heading = pd.DataFrame(movies_like_toy_story, columns=['Correlation'])
recommended = corr_heading.sort_values(['Correlation'], ascending=False)
recommended

                                       Correlation
title
Toy Story (1995)                          1.000000
Toy Story 2 (1999)                        0.748456
Toy Story 3 (2010)                        0.687708
Monsters, Inc. (2001)                     0.562172
Finding Nemo (2003)                       0.534243
...                                            ...
Johnny Mnemonic (1995)                    0.030390
Alien: Resurrection (1997)                0.029541
Eyes Wide Shut (1999)                     0.023024
Natural Born Killers (1994)               0.000072
Fear and Loathing in Las Vegas (1998)    -0.015759

[588 rows x 1 columns]